#gerar-boleto {
  margin-left:  30px;
}
#form-boletos {
  margin-left: 300px;
  margin-top: 50px;
}
#button-boletos {
  float: right;
}
#listagem-filtro {
  margin-left: 380px;
}
#table-boletos{
  margin-left: 100px;
}
#filtro {
  margin-left: 580px;
}